.login {
  width: 100vw;
  height: 100vh;
  background-image: url('https://qxtodo.com/qinxus/antdProBg.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10%;
  .login-content {
    width: 300px;
    margin: 0 auto;
  }
  .login-form-button {
    width: 100%;
  }
  .ant-btn-link {
    padding: 0;
  }
  .forget-password {
    float: right;
  }
}
html,body {
  height: 100%;
}