
.preview-popover-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  .img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.spin-box {
  @extend .text-center;
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.list-opt-btn {
  .btn {
    margin-right: 8px;
    margin-bottom: 12px;
    &:last-child {
      margin: 0;
    }
  }
}