.preview-popover-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.preview-popover-box .img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-center, .spin-box {
  text-align: center;
}

.spin-box {
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.list-opt-btn .btn {
  margin-right: 8px;
  margin-bottom: 12px;
}

.list-opt-btn .btn:last-child {
  margin: 0;
}
